pandas
numpy
scikit-learn
sentence_transformers
transformers
torch
jupyter
Flask
opendatasets
pre-commit
nbqa
flake8
virtualenv
isort
black[jupyter]
psycopg2-binary
python-dotenv
SQLAlchemy
flask-sqlalchemy
cockroachdb
sqlalchemy-cockroachdb
