/* Result.css */

body {
  background-color: #e0e0e0;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.result-wrapper {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 800px;
}

.result-header {
  text-align: center;
}

.loading-text {
  font-size: 1.2rem;
  font-weight: bold;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  margin: 0 auto;
  table-layout: fixed; /* Added table-layout: fixed */
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 8px;
  text-align: center;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.button-container {
  margin-top: 1rem;
}

.fancy-button {
  background-color: #007bff;
  border-color: #007bff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: #ffffff;
  cursor: pointer;
}

.fancy-button:hover {
  background-color: #0056b3;
  box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.2);
}